*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #537dd8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo-magalu {
    width: 150px;
    margin-block-start: 10px;
}

.container-main {
    background-color: #ffffff;
    margin-inline: auto;
    width: 90%;
    margin-block: 20px;
    padding-inline: 20px;
    padding-block: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.header {
    background-color: #2d54a8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    padding-block: 10px;

}

h1, h2, p {
    margin-top: 20px;
}